:root {
	--light-green: #18BD77;
	--light: #FFFFFF;
	--light-gray: #E9E9E9;
	--regular-green: #25A838;
	--dark-gray: #676767;
	--red: #D74E14;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h2 {
	color: var(--dark-gray);
}

.header, .header_title_logo {
	display: flex;
	background-color: var(--light-green);
	align-items: center;
	justify-content: space-between;
}

.header_logo {
	width: 80px;
	padding-left: 20px;
}

.header_title {
	color: var(--light);
	text-transform: uppercase;
	font-size: 21px;
}

.header_share {
	padding-right: 21px;
}

.share_icon {
	font-size: 21px;
	color: var(--light);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.new_game_numbers{
	display: flex;
	min-width: 90vw;
	padding: 10px 0;
	overflow-x: scroll;
}

.new_game_numbers > input[type="number"], .games_table input[type="number"] {
	background-color: var(--light-gray);
	border: none;
	height: 42px;
	width: 48px;
	border-radius: 10px;
	padding: 10px;
	font-size: 21px;
	font-weight: bold;
	text-align: center;
}

.new_game_numbers > input[type="text"],  .games_table input[type="text"]{
	background-color: var(--light-gray);
	border: none;
	height: 42px;
	width: 200px;
	border-radius: 10px;
	padding: 10px;
	font-size: 18px;
	text-align: center;
}

.new_game_numbers > input[type="submit"] {
	display: flex;
	background-color: var(--regular-green);
	border: none;
	height: 62px;
	width: 120px;
	border-radius: 10px;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	color: var(--light);
	min-width: 120px;
	justify-content: center;
}

input[type="submit"]:hover {
	cursor: pointer;
}

.main, .footer {
	display: flex;
	max-width: 100%;
	padding: 4% 6%;
	flex-direction: column;
}

.games_table, .rows {
	display: flex;
	width: 85vw;
	flex-direction: column;
}

.games_table input[type="number"] {
	background-color: var(--light);
}

.games_table {
	background-color: var(--light-gray);
	padding: 3%;
	border-radius: 7px;
	min-height: 40vh;
	overflow: scroll;
}

.games_table input[type="text"].gamer {
	background-color: var(--light);
}

.games_table input[type="text"].price {
	background-color: var(--light);
	width: 80px;
}

.btn {
	display: flex;
	border: none;
	justify-content: center;
	align-items: center;
	height: 42px;
	width: 48px;
	min-width: 48px;
	border-radius: 10px;
	padding: 10px;
	font-size: 21px;
	font-weight: bold;
	text-align: center;
}

.green {
	background-color: var(--regular-green);
	color: var(--light);
}

.red {
	background-color: var(--red);
	color: var(--light);
}

.row {
	display: flex;
	flex-direction: row;
	min-height: 72px;
	max-height: 72px;
	width: 100%;
}

.new_game_numbers>input[type="number"], .new_game_numbers>input[type="text"]{
	margin: 0 1% 0 0;
}

.row>input[type="number"], .row>input[type="text"]{
	margin: 0 1% 0 0;
}

.row>.btn{
	margin: 0 1% 0 0;
}

.footer {
	display: flex;
	flex-direction: row;
	margin: 0;
	padding-top: 0;
	justify-content: space-between;
}

.check {
	width: 120px;
}

.numbers {
	border: 1px solid red;
	display: flex;
	width: 100%;
	flex-wrap: wrap;
}

.buttons {
	display: flex;
	min-width: 140px;
	width: 140px;
	justify-content: space-between;
}

.footer>.info>.label {
	font-weight: bold;
	margin: 0;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--light-green) var(--light);
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 11px;
  }

  *::-webkit-scrollbar-track {
    background: var(--light);
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--light-green);
    border-radius: 10px;
    border: 3px solid var(--light);
  }

  .btn>i{
	  display: flex;
	  width: 100%;
	  height: 100%;
	  justify-content: center;
	  align-items: center;
  }

  .btn:hover {
	  cursor: pointer;
  }